@use '../../base/media' as *;
@use '../../base/mixins' as *;

.content-title {
    font: 700 #{rem(52px)} / 90% var(--ff-base);
    span {
        color: var(--lght_prpl);
    }

    @include media('tablet') {
        font-size: rem(42px);
    }
    @include media('mobile') {
        font-size: rem(32px);
    }
}
