@use '../../base/media' as *;
@use '../../base/mixins' as *;

.advantages {
    margin-bottom: var(--section-indent);
    .content-title {
        margin-bottom: rem(40px);
        @include media('mobile') {
            margin-bottom: rem(24px);
        }
    }

    &__points {
        display: grid;
        grid-template-columns: repeat(4, minmax(0, 1fr));
        gap: rem(24px);
        @include media('mobile') {
            grid-template-columns: repeat(1, minmax(0, 1fr));
            gap: rem(12px);
        }

        li {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            gap: rem(12px);
            padding: rem(23px) rem(23px) rem(43px) rem(23px);
            border-radius: rem(24px);
            border: 2px solid var(--simple_prpl);

            @include media('mobile') {
                padding: rem(10px);
                border-radius: rem(16px);
            }

            img {
                @include media('mobile') {
                    width: rem(60px);
                    height: rem(60px);
                }
            }

            p {
                font: 700 #{rem(20px)} / 100% var(--ff-base);
                @include media('mobile') {
                    font-size: rme(16px);
                }
            }
        }
    }
}
