@use '../../base/media' as *;
@use '../../base/mixins' as *;

.applications {
    margin-bottom: rem(80px);
    margin-top: var(--section-top);

    &:has(.applications__tariffs) {
        .container:last-child {
            @include media('desktop') {
                padding: 0;
            }
        }
    }

    .breadcrumbs {
        margin-bottom: rem(104px);

        @include media('mobile') {
            margin-bottom: rem(20px);
        }
    }

    .container {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        gap: rem(20px);
    }

    .content-title {
        margin-bottom: rem(24px);
        @include media('mobile') {
            margin-bottom: rem(12px);
        }
    }

    &__content {
        max-width: rem(777px);
    }

    &__pic {
        max-width: rem(586px);

        &.desktop--visible {
            display: none;
            @include media('mobile') {
                display: block;
                max-width: rem(200px);
                margin-bottom: rem(24px);
            }
        }

        &.desktop--hidden {
            @include media('desktop') {
                display: none;
            }
        }

        img {
            width: 100%;
        }
    }

    &__descr {
        font: 400 #{rem(18px)} / 140% var(--ff-base);
        margin-bottom: rem(40px);
        @include media('mobile') {
            font-size: rem(14px);
            margin-bottom: rem(24px);
        }
    }

    &__selects {
        position: relative;
        z-index: 2;
        display: flex;
        align-items: center;
        gap: rem(24px);
        margin-bottom: rem(24px);
        @include media('mobile') {
            flex-direction: column;
            gap: rem(8px);
            margin-bottom: rem(12px);
        }
    }

    &__target {
        max-width: rem(708px);
        display: flex;
        align-items: center;
        gap: rem(2px);
        width: 100%;
        border-radius: rem(16px);
        padding: rem(3px);
        border: 1px solid #d9d8d9;
        background: var(--white);
        @include media('mobile') {
            max-width: 100%;
            flex-direction: column;
            border-radius: rem(12px);
        }
    }

    &__btn {
        font: 600 #{rem(18px)} / 90% var(--ff-base);
        border-radius: rem(12px);
        padding: rem(18px) rem(2px);
        gap: rem(8px);
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        position: relative;
        @include transitions(0.3s, cubic-bezier(0.768, 0.304, 0.496, 0.884));
        @include media('mobile') {
            width: 100%;
            font-size: rem(16px);
            border-radius: rem(10px);
            padding: rem(12px);
        }

        &.is-active {
            &::after {
                transform: translateY(0);
            }
            color: var(--lght_grey);
        }

        &::after {
            content: '';
            position: absolute;
            inset: 0;
            transform: translateY(100%);
            pointer-events: none;
            background-color: var(--lght_prpl);
            @include transitions(
                0.3s,
                cubic-bezier(0.768, 0.304, 0.496, 0.884)
            );
        }

        span {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: rem(8px);
            position: relative;
            z-index: 2;
        }

        svg {
            flex-shrink: 0;
            display: inline-flex;
            width: rem(24px);
            height: rem(24px);
            @include transitions(
                0.3s,
                cubic-bezier(0.768, 0.304, 0.496, 0.884)
            );

            @include media('mobile') {
                width: rem(20px);
                height: rem(20px);
            }
        }
    }

    &__tariffs {
        padding-top: rem(80px);
        display: grid;
        grid-template-columns: repeat(4, minmax(0, 1fr));
        gap: rem(24px);

        @include media('desktop') {
            display: flex;
            overflow: auto;
            scrollbar-width: none;
            -ms-overflow-style: none;
            scroll-snap-type: x mandatory;
            scroll-behavior: smooth;
            padding-inline: var(--container-padding);
            &::-webkit-scrollbar {
                display: none;
            }
            padding-bottom: var(--section-indent);
        }
        @include media('mobile') {
            gap: rem(12px);
        }

        .tv-tariff {
            @include media('desktop') {
                max-width: rem(450px);
                flex-shrink: 0;
                scroll-snap-align: center;
            }
            @include media('mobile') {
                max-width: rem(290px);
            }
        }
    }

    &--simple {
        margin-bottom: var(--section-indent);
        @include media('desktop') {
            margin-bottom: 0;
        }
        .content-title {
            margin-bottom: rem(32px);
            @include media('mobile') {
                margin-bottom: rem(24px);
            }
        }
        .applications__content {
            max-width: rem(750px);
            @include media('mobile') {
                max-width: 100%;
            }
        }
    }
}
