@use '../../base/media' as *;
@use '../../base/mixins' as *;

body {
    &:not(:has(.header.is-transform)) {
        .clients__controls {
            top: rem(130px);
            @include media('desktop') {
                top: 0;
            }
        }
    }
}

.clients {
    margin-top: var(--section-top);

    .container {
        @include media('mobile') {
            padding: 0;
        }
    }

    @include media('mobile') {
        .breadcrumbs,
        .clients__details {
            padding-inline: var(--container-padding);
        }
    }

    &__controls {
        flex-shrink: 0;
        position: sticky;
        top: rem(20px);
        max-width: rem(558px);
        border-radius: rem(24px);
        padding: rem(39px);
        border: 1px solid var(--simple_prpl);
        background: var(--white);
        @include transitions(0.5s, cubic-bezier(0.768, 0.304, 0.496, 0.884));
        @include media('desktop') {
            top: 0;
            position: relative;
            max-width: 100%;
            flex-shrink: inherit;
            width: 100%;
            padding-inline: 0;
        }
        @include media('mobile') {
            background: transparent;
            border: none;
            border-radius: 0;
            padding: 0;
        }
    }

    &__pic {
        margin-top: rem(136px);

        @include media('desktop') {
            display: none;
        }
    }

    &__content {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        gap: rem(24px);
        @include media('desktop') {
            flex-direction: column;
            gap: rem(20px);
        }
    }

    &__details {
        display: flex;
        flex-direction: column;
        gap: rem(24px);
        max-width: rem(830px);
        width: 100%;
        @include media('desktop') {
            max-width: 100%;
        }
    }

    &__description {
        width: 100%;
        padding: rem(47px) rem(59px);
        border-radius: rem(24px);
        background: var(--white);
        border: 1px solid var(--simple_prpl);
        @include media('mobile') {
            padding: rem(19px);
            border-radius: rem(16px);
        }

        &:not(:has(.clients__subtitle)) {
            .clients__title {
                @include media('mobile') {
                    margin-bottom: rem(20px);
                }
            }
        }
    }

    &__faqs {
        &:not(:last-child) {
            margin-bottom: rem(40px);
            @include media('mobile') {
                margin-bottom: rem(24px);
            }
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: rem(8px);
    }

    &__title {
        font: 700 #{rem(40px)} / 90% var(--ff-base);
        margin-bottom: rem(24px);
        @include media('mobile') {
            font-size: rem(32px);
            margin-bottom: rem(8px);
        }
    }

    &__subtitle {
        font: 700 #{rem(24px)} / 90% var(--ff-base);
        margin-bottom: rem(24px);
        @include media('mobile') {
            font-size: rem(18px);
            margin-bottom: rem(20px);
        }
    }

    &__text {
        font: 400 #{rem(18px)} / 140% var(--ff-base);
        margin-bottom: rem(40px);
        @include media('mobile') {
            font-size: rem(14px);
            margin-bottom: rem(20px);
        }
    }

    .steps-pic {
        border-radius: rem(6px);
        overflow: hidden;
        width: 100%;
        box-shadow: 0px 10px 30px 0px #00000012;

        backdrop-filter: blur(16px);

        border: 1px solid #f2eef4;
        img {
            width: 100%;
        }
    }

    &__steps {
        display: flex;
        flex-direction: column;
        gap: rem(40px);
        counter-reset: stepsCounter;
        @include media('mobile') {
            gap: rem(24px);
        }
        li {
            display: flex;
            flex-direction: column;
            gap: rem(20px);
            @include media('mobile') {
                gap: rem(12px);
            }

            p {
                font: 400 #{rem(18px)} / 140% var(--ff-base);
                margin: 0;
                counter-increment: stepsCounter;
                display: inline-flex;
                gap: rem(16px);
                align-items: center;

                @include media('mobile') {
                    font-size: rem(14px);
                    gap: rem(12px);
                }

                &::before {
                    content: counter(stepsCounter, decimal-leading-zero);
                    font: 700 #{rem(24px)} / 100% var(--ff-base);
                    display: inline-flex;
                    flex-shrink: 0;
                    align-items: center;
                    justify-content: center;
                    border-radius: rem(8px);
                    width: rem(48px);
                    height: rem(48px);
                    background: rgba(37, 12, 52, 0.08);
                    color: var(--lght_prpl);
                    @include media('mobile') {
                        font-size: rem(18px);
                        width: rem(32px);
                        height: rem(32px);
                    }
                }
            }
        }
    }

    &__law {
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            font: 400 #{rem(16px)} / 140% var(--ff-base);
            margin: 0;
            @include media('mobile') {
                font-size: rem(14px);
            }
        }

        p {
            font: 400 #{rem(16px)} / 140% var(--ff-base);
            margin: 0;
            @include media('mobile') {
                font-size: rem(14px);
            }

            &:has(+ h3) {
                margin-bottom: rem(24px);
            }
            &:has(+ h1) {
                margin-bottom: rem(24px);
            }
            &:has(+ h2) {
                margin-bottom: rem(24px);
            }
            &:has(+ h4) {
                margin-bottom: rem(24px);
            }
            &:has(+ h5) {
                margin-bottom: rem(24px);
            }
            &:has(+ h6) {
                margin-bottom: rem(24px);
            }
        }
    }
}
