@use '../../base/media' as *;
@use '../../base/mixins' as *;

.tariffs {
    @include media('mobile') {
        overflow: hidden;
    }
    .container {
        max-width: var(--container-lg);
    }

    &:has(.tariffs__content) {
        .container {
            @include media('mobile') {
                padding: 0;
            }
        }

        .tariffs__handler {
            @include media('mobile') {
                padding-inline: var(--container-padding);
            }
        }
    }

    &:not(:has(.tariffs__content)) {
        .tariffs__handler {
            margin-top: 0;
        }
    }

    &__content {
        position: relative;
        overflow: hidden;
        padding-inline: var(--container-padding);
        padding-block: var(--section-indent);
        display: flex;
        flex-direction: column;
        align-items: center;
        min-height: rem(612px);
        border-radius: rem(40px);
        background: var(--accent_gradient);
        color: var(--lght_grey);
        @include media('mobile') {
            border-radius: 0;
            min-height: rem(500px);
        }
    }

    &__head {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: rem(24px);
        margin-bottom: rem(40px);
        position: relative;
        z-index: 2;

        @include media('mobile') {
            gap: rem(12px);
            margin-bottom: rem(24px);
        }
    }

    &__flow {
        position: relative;
        z-index: 2;
        display: flex;
        align-items: center;
        gap: rem(24px);
        width: 100%;
        justify-content: center;

        @include media('mobile') {
            flex-direction: column;
            gap: rem(12px);
        }

        .select-box {
            position: relative;

            &:first-child {
                &::before {
                    left: 0;
                    transform: translateX(-120%);
                    background: url('../imgs/ico/arrow-l.svg') no-repeat center
                        center / cover;
                }
            }
            &:last-child {
                &::before {
                    right: 0;
                    transform: translateX(120%);
                    background: url('../imgs/ico/arrow-r.svg') no-repeat center
                        center / cover;
                }
            }

            &::before {
                content: '';
                position: absolute;
                top: rem(-30px);
                width: rem(98px);
                height: rem(20px);
                @include media('tablet') {
                    display: none;
                }
            }
        }
    }

    &__subtitle {
        font: 400 #{rem(18px)} / 90% var(--ff-base);
        @include media('mobile') {
            font-size: rem(16px);
        }
    }

    &__deco {
        position: absolute;
        pointer-events: none;
        bottom: 0;

        @include media('mobile') {
            max-width: rem(170px);
        }

        &.deco-l {
            left: 0;
        }
        &.deco-r {
            right: 0;
        }
    }

    &__handler {
        display: flex;
        align-items: center;
        gap: rem(32px);
        max-width: rem(1608px);
        margin: rem(-200px) auto 0 auto;
        @include media('mobile') {
            margin: rem(-150px) auto 0 auto;
        }
    }

    .btn-nav {
        margin-bottom: var(--section-indent);
        @include media('mobile') {
            display: none;
        }
    }

    &__slider {
        padding-bottom: var(--section-indent);
        @include media('mobile') {
            overflow: visible;
            width: 100%;
        }
        &-slide {
            height: auto;
            .tariff-box {
                width: 100%;
                max-width: 100%;
            }
        }
    }
}
