@use '../base/media' as *;
@use '../base/mixins' as *;

.tariff-box {
    display: flex;
    flex-direction: column;
    border-radius: rem(24px);
    height: 100%;
    padding: rem(55px) rem(39px);
    max-width: rem(342px);
    border: 1px solid var(--simple_prpl);
    box-shadow: 0px 12px 32px 0px #00000014;
    background: var(--white);
    @include transitions(0.5s, cubic-bezier(0.768, 0.304, 0.496, 0.884));

    @include media('mobile') {
        border-radius: rem(16px);
        max-width: 100%;
        padding: rem(36px) rem(16px) rem(20px) rem(16px);
    }

    @include hover {
        .tariff-box__info {
            .row span {
                color: var(--orange);
            }
        }
        .tariff-box__cta {
            background: var(--lght_prpl);
            color: var(--lght_grey);
        }
        .tariff-box__hidden {
            grid-template-rows: 1fr;
        }
        .tariff-box__bg {
            background: var(--white);
        }
    }

    &--popular {
        position: relative;
        overflow: hidden;
        border: 4px solid var(--lght_prpl);

        @include hover {
            &::after {
                opacity: 0;
            }
        }

        * {
            position: relative;
            z-index: 2;
        }

        &::after {
            content: '';
            inset: 0;
            position: absolute;
            pointer-events: none;
            background: linear-gradient(
                20.02deg,
                #fff9f0 24.51%,
                #eacefa 98.52%
            );
            @include transitions(
                0.5s,
                cubic-bezier(0.768, 0.304, 0.496, 0.884)
            );
        }

        .tariff-box__cta {
            background: var(--lght_prpl);
            color: var(--lght_grey);
        }
    }

    &__label {
        left: rem(39px);
        font: 700 #{rem(16px)} / 90% var(--ff-base);
        text-transform: uppercase;
        position: absolute;
        top: rem(24px);
        color: var(--lght_prpl);
        @include media('mobile') {
            font-size: rem(14px);
            left: rem(16px);
            top: rem(16px);
        }
    }

    &__name {
        font: 700 #{rem(32px)} / 90% var(--ff-base);
        margin-bottom: rem(24px);

        @include media('mobile') {
            font-size: rem(20px);
            margin-bottom: rem(12px);
        }
    }

    &__price {
        display: flex;
        align-items: flex-end;
        gap: rem(6px);
        margin-bottom: rem(32px);
        font: 700 #{rem(18px)} / 90% var(--ff-base);
        @include media('mobile') {
            font-size: rem(16px);
            margin-bottom: rem(22px);
            gap: rem(4px);
        }

        span {
            margin-bottom: rem(-5px);
            font: 700 #{rem(52px)} / 90% var(--ff-base);
            color: var(--lght_prpl);

            @include media('mobile') {
                font-size: rem(32px);
            }
        }
    }

    &__speed {
        display: flex;
        align-items: center;
        gap: rem(8px);

        img {
            width: rem(60px);
            height: rem(60px);
            @include media('mobile') {
                width: rem(40px);
                height: rem(40px);
            }
        }
    }

    &__head {
        padding-bottom: rem(24px);
        margin-bottom: rem(24px);
        border-bottom: 1px solid rgba(37, 12, 52, 0.2);
        @include media('mobile') {
            padding-bottom: rem(16px);
            margin-bottom: rem(16px);
        }
    }

    &__info {
        display: flex;
        flex-direction: column;
        gap: rem(8px);
        @include media('mobile') {
            gap: rem(4px);
        }

        > p {
            margin: 0;
            font: 400 #{rem(18px)} / 90% var(--ff-base);
            @include media('mobile') {
                font-size: rem(14px);
            }
        }

        .row {
            display: flex;
            align-items: flex-end;
            gap: rem(8px);
            @include media('mobile') {
                align-items: baseline;
                gap: rem(4px);
            }

            span {
                font: 700 #{rem(32px)} / 90% var(--ff-base);
                color: var(--lght_prpl);
                @include transitions(
                    0.5s,
                    cubic-bezier(0.768, 0.304, 0.496, 0.884)
                );
            }

            p {
                font: 400 #{rem(18px)} / 90% var(--ff-base);
                @include media('mobile') {
                    font-size: rem(14px);
                }
            }
        }
    }

    &__cta {
        font: 600 #{rem(16px)} / 100% var(--ff-base);
        padding: rem(17px);
        border-radius: rem(12px);
        margin-top: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 2px solid var(--lght_prpl);
        @include transitions(0.5s, cubic-bezier(0.768, 0.304, 0.496, 0.884));
        @include media('mobile') {
            font-size: rem(14px);
            padding: rem(12px);
            border-radius: rem(8px);
        }
    }

    &__hidden {
        display: grid;
        grid-template-rows: 0fr;
        @include transitions(0.5s, cubic-bezier(0.768, 0.304, 0.496, 0.884));
    }

    &__bg {
        flex: 1;
        display: flex;
        flex-direction: column;
        border-radius: 0 0 rem(24px) rem(24px);
        padding: rem(0px) rem(39px) rem(55px) rem(39px);
        @include transitions(0.5s, cubic-bezier(0.768, 0.304, 0.496, 0.884));
    }

    &__list {
        display: flex;
        flex-direction: column;
        margin-bottom: rem(24px);

        li {
            &:not(:last-of-type):not(.tariff-box__hidden) {
                margin-bottom: rem(16px);
                @include media('mobile') {
                    margin-bottom: rem(12px);
                }
            }

            &:not(.tariff-box__hidden) {
                display: inline-flex;
                align-items: center;
                gap: rem(8px);

                &::before {
                    content: '';
                    width: rem(28px);
                    height: rem(28px);
                    flex-shrink: 0;
                    background: url('../imgs/ico/ico-check.svg') no-repeat
                        center center / cover;
                    @include media('mobile') {
                        width: rem(20px);
                        height: rem(20px);
                    }
                }
            }

            p {
                font: 400 #{rem(18px)} / 110% var(--ff-base);
                @include media('mobile') {
                    font-size: rem(16px);
                }

                span {
                    font-weight: 700;
                    color: var(--lght_prpl);
                }
            }
        }
    }

    &__group {
        overflow: hidden;

        li:not(:last-child) {
            margin-bottom: rem(16px);
        }
    }
}
