@use '../base/media' as *;
@use '../base/mixins' as *;

.contact-box {
    padding: rem(59px) rem(59px) rem(87px) rem(59px);
    border-radius: rem(40px);
    background: var(--white);
    border: 1px solid var(--simple_prpl);

    @include media('mobile') {
        padding: rem(19px) rem(21px);
        width: 100%;
        border-radius: rem(16px);
    }

    &:has(.contact-box__pic) {
        padding: rem(47px) rem(57px);
        @include media('mobile') {
            padding: rem(19px);

            .content-title {
                padding: 0;
            }
        }
    }

    &__pic {
        width: 100%;
        margin-bottom: rem(32px);
    }

    &__text {
        font: 400 #{rem(18px)} / 100% var(--ff-base);
        margin-bottom: rem(32px);
        @include media('mobile') {
            font-size: rem(14px);
            margin-bottom: rem(16px);
        }
    }

    &__soc {
        display: flex;
        align-items: center;
        gap: rem(12px);
        margin-bottom: rem(32px);
        @include media('mobile') {
            margin-bottom: rem(16px);
        }

        li {
            width: rem(80px);
            height: rem(80px);
            @include media('mobile') {
                width: rem(48px);
                height: rem(48px);
            }
        }

        a {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            border-radius: rem(16px);
            width: 100%;
            height: 100%;
            background: var(--lght_prpl);
            @include transitions(
                0.3s,
                cubic-bezier(0.768, 0.304, 0.496, 0.884)
            );

            @include hover {
                img {
                    transform: scale(1.05);
                }
            }

            @include media('mobile') {
                border-radius: rem(12px);
            }

            img {
                width: rem(48px);
                height: rem(48px);
                @include transitions(
                    0.3s,
                    cubic-bezier(0.768, 0.304, 0.496, 0.884)
                );

                @include media('mobile') {
                    width: rem(32px);
                    height: rem(32px);
                }
            }
        }
    }

    &__tel {
        display: flex;
        width: max-content;
        align-items: center;
        gap: rem(12px);
        font: 700 #{rem(32px)} / 100% var(--ff-base);

        @include media('mobile') {
            gap: rem(8px);
            font-size: rem(24px);
        }

        @include hover {
            img {
                transform: rotate(10deg);
            }
        }

        img {
            width: rem(40px);
            height: rem(40px);
            @include transitions(
                0.3s,
                cubic-bezier(0.768, 0.304, 0.496, 0.884)
            );
            @include media('mobile') {
                width: rem(32px);
                height: rem(32px);
            }
        }
    }
}
