@use '../base/media' as *;
@use '../base/mixins' as *;

.breadcrumbs {
    display: flex;
    gap: rem(6px);
    align-items: center;
    margin-block: 0 rem(52px);

    li:not(:last-child) {
        opacity: 0.4;
    }
    li:not(:first-child) {
        a {
            display: inline-flex;
            align-items: center;
            gap: rem(6px);
            &::before {
                content: '/';
                display: inline-flex;
                width: rem(20px);
                height: rem(20px);
                align-items: center;
                justify-content: center;
                color: var(--lght_prpl);
                @include media('mobile') {
                    width: rem(12px);
                    height: rem(12px);
                }
            }
        }
    }

    a {
        font: 600 #{rem(16px)} / 100% var(--ff-base);
        @include media('mobile') {
            font-size: rem(13px);
        }
    }
}
