@use '../base/media' as *;
@use '../base/mixins' as *;

.pagination-box {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: rem(16px);

    @include media('mobile') {
        gap: rem(12px);
    }

    &__panel {
        display: flex;
        align-items: center;
        gap: rem(16px);
        @include media('mobile') {
            gap: rem(8px);
        }
    }

    &__arrow {
        flex-shrink: 0;
        display: inline-flex;
        width: rem(32px);
        height: rem(32px);
        color: var(--lght_prpl);

        @include media('mobile') {
            width: rem(24px);
            height: rem(24px);
        }
        svg {
            width: 100%;
            height: 100%;
        }
    }

    &__btn {
        align-items: center;
        justify-content: center;
        color: inherit;
        font: 400 #{rem(18px)} / 140% var(--ff-base);
        flex-shrink: 0;
        border-radius: rem(12px);
        width: rem(48px);
        height: rem(48px);
        border: 1px solid #c8c8c8;
        background: var(--lght_grey);
        @include transitions(0.3s, cubic-bezier(0.768, 0.304, 0.496, 0.884));
        @include hover {
            border-color: var(--lght_prpl);
        }
        @include media('mobile') {
            font-size: rem(16px);
            width: rem(32px);
            height: rem(32px);
            border-radius: rem(6px);
        }

        &.is-active {
            border-color: var(--lght_prpl);
        }
    }
}
