@use '../base/media' as *;
@use '../base/mixins' as *;

.select-box {
    max-width: rem(342px);
    width: 100%;
    position: relative;

    &:has(.select-styled.active) {
        .select-box__arrow {
            transform: translateY(-50%) rotate(180deg);
            color: var(--drk_prpl);
        }
    }

    &__arrow {
        width: rem(24px);
        height: rem(24px);
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        right: rem(24px);
        @include transitions(0.3s, cubic-bezier(0.768, 0.304, 0.496, 0.884));
        @include media('mobile') {
            width: rem(16px);
            height: rem(16px);
            right: rem(16px);
        }
    }

    .select-hidden {
        position: absolute;
        opacity: 0;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
    }

    .select-wrap {
        cursor: pointer;
        display: inline-block;
        position: relative;
        font-size: 18px;
        width: 100%;
    }

    .select-styled {
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        outline: none;
        border: none;
        font: 400 #{rem(18px)} / 90% var(--ff-base);
        height: rem(68px);
        border-radius: rem(12px);
        padding: rem(15px) rem(23px);
        background: #f2f2f21a;
        color: var(--lght_grey);
        border: 1px solid var(--lght_grey);
        @include transitions(0.3s, cubic-bezier(0.768, 0.304, 0.496, 0.884));
        @include media('mobile') {
            border-radius: rem(8px);
            font-size: rem(14px);
            height: rem(56px);
            padding: rem(21px) rem(13px);
        }

        &:hover,
        &:focus {
            cursor: pointer;
            border-color: var(--orange);
        }

        &:focus,
        &.active {
            &::after {
                transform: translateY(-50%) rotate(180deg);
            }
        }

        &.placeholder {
            font-size: rem(14px);
            color: rgba(242, 242, 242, 0.4);
        }

        &.selected {
            @include transitions(
                0.3s,
                cubic-bezier(0.768, 0.304, 0.496, 0.884)
            );

            .placeholder-text {
                transform: translateY(-15px);
                font-size: rem(14px);
                @include media('mobile') {
                    transform: translateY(-10px);
                    font-size: rem(12px);
                }
            }

            .selected-text {
                transform: translateY(-10%);
                &::before {
                    height: rem(24px);
                }
            }
        }

        &.active {
            background: var(--white);

            .placeholder-text {
                color: var(--drk_prpl);
            }

            .selected-text {
                color: var(--drk_prpl);

                &::before {
                    background: var(--drk_prpl);
                }
            }
        }

        .selected-text {
            position: absolute;
            top: 50%;
            transform: translateY(50%);
            display: inline-flex;
            align-items: center;
            gap: rem(8px);
            @include transitions(
                0.3s,
                cubic-bezier(0.768, 0.304, 0.496, 0.884)
            );
            &::before {
                content: '';
                pointer-events: none;
                width: rem(20px);
                height: rem(0px);
                display: inline-flex;
                flex-shrink: 0;

                -webkit-mask: url('../imgs/ico/ico-location.svg') no-repeat
                    center;
                mask: url('../imgs/ico/ico-location.svg') no-repeat center;
                background: var(--white);
                @include transitions(
                    0.3s,
                    cubic-bezier(0.768, 0.304, 0.496, 0.884)
                );
            }
        }

        .placeholder-text {
            opacity: 0.5;
            @include transitions(
                0.3s,
                cubic-bezier(0.768, 0.304, 0.496, 0.884)
            );
        }
    }

    .select-options {
        border-radius: rem(12px);
        padding: rem(12px) rem(16px);
        z-index: 3;
        display: flex;
        flex-direction: column;
        position: absolute;
        right: 0;
        left: 0;
        bottom: rem(-8px);
        transform: translateY(100%);
        max-height: rem(224px);
        overflow: scroll;
        scrollbar-width: none;
        -ms-overflow-style: none;
        &::-webkit-scrollbar {
            display: none;
        }
        border: 1px solid #d9d8d9;
        background: var(--white);
        box-shadow: 0px 8px 12px 0px #0000000f;
        @include transitions(0.3s, cubic-bezier(0.768, 0.304, 0.496, 0.884));
        @include media('mobile') {
            bottom: rem(-3px);
            border-radius: rem(8px);
            padding: rem(10px) rem(12px);
            max-height: rem(170px);
        }

        li {
            border-radius: rem(8px);
            padding: rem(13px) rem(12px);
            font: 600 #{rem(16px)} / 90% var(--ff-base);
            display: inline-flex;
            align-items: center;
            justify-content: space-between;
            gap: rem(12px);
            color: var(--drk_prpl);
            @include transitions(
                0.3s,
                cubic-bezier(0.768, 0.304, 0.496, 0.884)
            );

            @include media('mobile') {
                font-size: rem(14px);
                border-radius: rem(6px);
                padding: rem(10px) rem(8px);
            }

            &:first-child {
                display: none;
            }

            &:hover {
                opacity: 0.7;
            }

            &.is-selected {
                background: #f2eef4;

                &::after {
                    opacity: 1;
                }
            }

            &[rel='hide'] {
                display: none;
            }
        }

        &.hidden {
            opacity: 0;
            visibility: hidden;
        }

        &.show {
            opacity: 1;
            bottom: -2px;
            visibility: visible;
        }
    }

    &--lght {
        .select-styled {
            border-color: #d9d8d9;
            background-color: var(--white);

            &:hover,
            &:focus {
                border-color: var(--lght_prpl);
            }

            &::after {
                background: url('../imgs/ico/ico-drop_bd.svg') no-repeat center
                    center / cover;
            }

            .selected-text {
                color: var(--drk_prpl);

                &::before {
                    -webkit-mask: url('../imgs/ico/ico-location.svg') no-repeat
                        center;
                    mask: url('../imgs/ico/ico-location.svg') no-repeat center;
                    background: var(--drk_prpl);
                }
            }
        }

        .placeholder-text {
            color: rgba(37, 12, 52, 0.5);
        }
    }
}
