@use '../base/media' as *;
@use '../base/mixins' as *;

.footer {
    position: relative;
    background: var(--black);
    color: var(--lght_grey);

    &__top {
        padding-block: rem(60px) rem(48px);
        border-bottom: 1px solid rgba(242, 242, 242, 0.1);

        @include media('mobile') {
            padding-block: rem(40px) rem(32px);
        }

        .container {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: rem(20px);
            @include media('desktop') {
                flex-direction: column;
            }

            @include media('mobile') {
                align-items: flex-start;
                gap: rem(32px);
            }
        }
    }

    &__bot {
        padding-block: rem(48px) rem(66px);

        @include media('mobile') {
            padding-block: rem(32px);
        }

        a {
            @include transitions(
                0.3s,
                cubic-bezier(0.768, 0.304, 0.496, 0.884)
            );
            @include hover {
                color: var(--simple_prpl);
            }
        }
    }

    &__logo {
        max-width: rem(219px);
        min-width: rem(120px);

        @include media('mobile') {
            max-width: rem(144px);
        }

        img {
            width: 100%;
        }
    }

    &__menu {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: rem(20px);
        max-width: rem(1072px);
        width: 100%;
        @include media('tablet') {
            flex-wrap: wrap;
            justify-content: flex-start;
        }

        @include media('mobile') {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: rem(28px) rem(24px);
        }

        li {
            font: 400 #{rem(16px)} / 110% var(--ff-base);

            @include media('mobile') {
                font-size: rem(14px);
            }

            a {
                font: inherit;
                @include transitions(
                    0.3s,
                    cubic-bezier(0.768, 0.304, 0.496, 0.884)
                );
                @include hover {
                    color: var(--simple_prpl);
                }
            }
        }
    }

    &__info {
        position: relative;
        z-index: 2;
        gap: rem(20px);
        display: grid;
        grid-template-columns: repeat(4, minmax(0, 1fr));
        @include media('tablet') {
            grid-template-columns: repeat(2, minmax(0, 1fr));
        }
        @include media('mobile') {
            gap: rem(20px) rem(24px);
        }
    }

    &__box {
        display: flex;
        flex-direction: column;
        gap: rem(28px);
        @include media('mobile') {
            gap: rem(16px);
        }
    }

    &__heading {
        display: flex;
        align-items: center;
        gap: rem(8px);
        opacity: 0.6;
        margin-bottom: rem(12px);

        img {
            @include media('mobile') {
                width: rem(20px);
                height: rem(20px);
            }
        }

        p {
            font: 400 #{rem(16px)} / 100% var(--ff-base);
            @include media('mobile') {
                font-size: rem(13px);
            }
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: rem(12px);

        &:has(.footer__timing) {
            @include media('mobile') {
                display: none;
            }
        }
    }

    &__address {
        font: 700 #{rem(16px)} / 100% var(--ff-base);
        @include media('mobile') {
            font-size: rem(14px);
        }
    }

    &__tel {
        font: 700 #{rem(20px)} / 100% var(--ff-base);
        @include media('mobile') {
            font-size: rem(16px);
        }
    }

    &__mail {
        font: 400 #{rem(18px)} / 100% var(--ff-base);
        @include media('mobile') {
            font-size: rem(14px);
        }
    }

    &__timing {
        font: 700 #{rem(18px)} / 110% var(--ff-base);
        @include media('mobile') {
            font-size: rem(14px);
        }
    }

    &__copy {
        padding-block: rem(20px);
        background: rgba(242, 242, 242, 0.04);

        .container {
            display: flex;
            align-items: center;
            justify-content: space-between;
            @include media('mobile') {
                align-items: flex-start;
                flex-direction: column;
                gap: rem(12px);
            }
        }

        p {
            font: 400 #{rem(14px)} / 110% var(--ff-base);
            margin: 0;
            @include media('mobile') {
                font-size: rem(12px);
            }
        }

        a {
            @include transitions(
                0.3s,
                cubic-bezier(0.768, 0.304, 0.496, 0.884)
            );
            @include hover {
                color: var(--simple_prpl);
            }
        }
    }

    div:has(.footer__deco) {
        position: relative;
    }

    &__deco {
        pointer-events: none;
        position: absolute;
        width: 100%;
        bottom: rem(28px);
        @include media('mobile') {
            bottom: 50%;
        }

        img {
            object-fit: cover;
            height: 100%;
            width: 100%;
        }
    }
}
